<?xml version="1.0" ?>
<launch>
	<include ns="camera" file="$(find ros_deep_learning)/launch/video_source.ros1.launch" />
    <rosparam file = "$(find final_challenge)/config/controller_params.yaml" command = "load"  />
    <rosparam file = "$(find final_challenge)/config/vision_params.yaml" command = "load"  />
    <node name="line_detector" pkg="final_challenge" type="line_centroid.py" />
    <node name="traffic_detector" pkg="final_challenge" type="traffic_light.py" />
    <node name="angular_controller" pkg="final_challenge" type="controller.py" />
    <node name="final_challenge" pkg="final_challenge" type="final_challenge.py" output="screen"/>
</launch>
