<?xml version="1.0" ?>
<launch>
    <rosparam file = "$(find final_challenge)/config/vision_params.yaml" command = "load"  />
    <node name="line_detector" pkg="final_challenge" type="line_centroid.py" args="sim"/>
    <node name="traffic_detector" pkg="final_challenge" type="traffic_light_detector.py" args="sim"/>
    <node name="crossroad_detector" pkg="final_challenge" output="screen" type="crossroad.py" args="sim"/>
</launch>
